{% extends "base.j2" %}
{% block body %}
class {{ classname }}({{ superclass }}):

{% for method in methods %}
    def {{ method.name }}(self):
{% for line in method.lines %}
        {{ line }}
{% endfor %}

{% endfor %} 
{% endblock %}