#!/usr/bin/env python
# -*- coding: utf-8 -*-
{% for line in imports.lines %}
{{ line }}
{% endfor %}
{# preserve 2 lines #}


{% for class in class_renders %}
class {{ class.name }}({{ class.superclass }}):

{% for method in class.methods %}
    def {{ method.name }}(self):
{% for line in method.lines %}
        {{ line }}
{% endfor %}

{% endfor %} 
{% endfor %} 
{%- if main -%}
if __name__ == "__main__":
{% for line in main.lines %}
    {{ line }}
{% endfor %}
{% endif %}